
// Fonts




// Variables
@import 'variables'





body
  font-size: 16px
  line-height: 1.5
  color: #333
  font-family: $font_main
  font-weight: 400

//
// Header
//
#top-bar
  background-color: #E3e3e3

  .list-accout-links
    margin: 0
    padding: 0
    li
      list-style: none
      a
        color: #333
        padding: 10px
        text-decoration: none
        transition: all .3s
        display: inline-block
        &:hover
          text-decoration: none
          color: $main_color




#main-navigation
  .top-nav
    margin: 0
    padding: 0
    li
      list-style: none
      a
        color: #333
        padding: 10px
        text-decoration: none
        transition: all .3s
        display: inline-block
        &:hover
          text-decoration: none
          color: $main_color



