body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: "Gotham-Pro";
  font-weight: 400;
}

#top-bar {
  background-color: #E3e3e3;
}

#top-bar .list-accout-links {
  margin: 0;
  padding: 0;
}

#top-bar .list-accout-links li {
  list-style: none;
}

#top-bar .list-accout-links li a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

#top-bar .list-accout-links li a:hover {
  text-decoration: none;
  color: #DD4252;
}

#main-navigation .top-nav {
  margin: 0;
  padding: 0;
}

#main-navigation .top-nav li {
  list-style: none;
}

#main-navigation .top-nav li a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

#main-navigation .top-nav li a:hover {
  text-decoration: none;
  color: #DD4252;
}

